# Игнорировать абсолютно всё
/*

# Исключить из игнора сам файл .gitignore (чтобы настройки сохранились)
!.gitignore

# Укажите файлы или папки, которые НУЖНО оставить
!*.js
!README.md
!package.json
!package-lock.json
!_core
!.babelrc
!.eslintignore